* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gudea", sans-serif;
  text-decoration: none;
}

a {
  color: black;
}
.bg-color-pink {
  background-color: #f11286;
}

.bg-color-white {
  background-color: white;
}

.bg-color-black {
  background-color: #1b1b1b;
}

.color-white {
  color: white;
}

.color-black {
  color: #1b1b1b;
}

.color-pink {
  color: #f11286;
}
.clearfix {
  overflow: auto;
}
.button {
  color: white;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  border: 0;
  border-bottom: 4px solid rgb(174, 10, 95);
  font-size: 14px;
  letter-spacing: 2px;
  margin: 20px 0px;
  padding: 15px 30px;
  text-align: center;
  display: inline-block;
  font-weight: 900;
}

.button:hover {
  background-color: rgb(253, 56, 146);
}
.info-flash {
  text-align: center;
  color: white;
  padding: 5px 0px;
  font-weight: 900;
  line-height: 28.8px;
  font-size: 16px;
  /* padding: 0px 10px; */
}

.navbar {
  height: 70px;
  padding: 20px 0;
}

.navbar-item {
  text-decoration: none;
  list-style-type: none;
  float: right;
  text-align: center;
  padding: 5px 30px 5px 0px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
}

.navbar-item-active {
  border-bottom: 3px solid #f11286;
  padding-bottom: 10px;
}

.navbar-logo {
  background-color: white;
  margin-left: 40px;
}

.home-subheading {
  letter-spacing: 6px;
  text-transform: uppercase;
  display: inline-block;
  padding: 10px;
  background-color: black;
  text-align: left;
}

.home-heading {
  line-height: 72px;
  text-align: left;
  font-size: 60px;
  text-transform: uppercase;
  display: inline;
  letter-spacing: 5px;
  font-weight: 500;
  padding: 5px 10px;
}

.container {
  text-align: center;
  padding: 40px 60px;
  color: white;
}

.subcontainer {
  padding: 60px 20px;
  text-align: left;
}

.section-title {
  letter-spacing: 6px;
  padding: 5px 15px;
  margin-bottom: 40px;
  text-align: center;
  display: inline-block;
}

.card {
  padding: 10px;
}

.info-card {
  padding: 50px 40px;
}
.card-image {
  width: 93%;
}

.card-title {
  text-align: center;
  font-style: italic;
  font-size: 22px;
  border-bottom: 1px solid white;
  display: inline-block;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.card-info {
  text-align: center;
  padding: 20px 15px;
  font-weight: 400;
  line-height: 28.8px;
  margin-bottom: 15px;
}

.copyright {
  width: 100%;
  float: left;
  text-align: left;
  border-top: 2px solid white;
  padding-top: 10px;
  color: white;
  margin: 30px 5%;
  width: 90%;
}

.social-media {
  text-align: center;
  padding: 40px 0px;
}
.social-media-icons {
  font-size: 36px;
  color: white;
  padding: 10px 30px;
}

.contact {
  padding-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px;
  float: left;
}
.contact-heading {
  font-size: 22px;
  font-style: italic;
  line-height: 27.5px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(226, 226, 226, 0.7);
  text-align: left;
  padding: 3px 10px;
  padding-bottom: 20px;
}

.contact-info {
  color: rgb(89, 89, 89);
  line-height: 28.8px;
  text-align: left;
  padding: 3px 10px;
}
/* Grid System */

.col {
  float: left;
}
@media screen and (max-width: 1200px) {
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.662%;
  }
  .col-md-10 {
    width: 83.332%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.662%;
  }
  .col-md-7 {
    width: 58.331%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.662%;
  }
  .col-md-4 {
    width: 33.332%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.662%;
  }
  .col-md-1 {
    width: 8.332%;
  }
}

@media screen and (max-width: 900px) {
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.662%;
  }
  .col-sm-10 {
    width: 83.332%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.662%;
  }
  .col-sm-7 {
    width: 58.331%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.662%;
  }
  .col-sm-4 {
    width: 33.332%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.662%;
  }
  .col-sm-1 {
    width: 8.332%;
  }
}

@media screen and (max-width: 600px) {
  .col-xs-12 {
    width: 100%;
  }
  .col-xs-11 {
    width: 91.662%;
  }
  .col-xs-10 {
    width: 83.332%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-8 {
    width: 66.662%;
  }
  .col-xs-7 {
    width: 58.331%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-5 {
    width: 41.662%;
  }
  .col-xs-4 {
    width: 33.332%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-2 {
    width: 16.662%;
  }
  .col-xs-1 {
    width: 8.332%;
  }
}

@media screen and (min-width: 1200px) {
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.662%;
  }
  .col-lg-10 {
    width: 83.332%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.662%;
  }
  .col-lg-7 {
    width: 58.331%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.662%;
  }
  .col-lg-4 {
    width: 33.332%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.662%;
  }
  .col-lg-1 {
    width: 8.332%;
  }
}
